/*#region Page: ShopPage */
.ShopPage {
  align-items: center;
  display: flex;
  margin: 2rem auto auto auto;
  min-height: 80vh;
  width: 80%;

  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*#endregion /Page: ShopPage */
