/*#region UI: Footer */
.Footer {
  align-items: center;
  background-color: #25252b;
  color: #c1c1c1;
  display: flex;
  height: 18vh;
  justify-content: center;
  margin-top: 10vh;
  width: 100%;
}
/*#endregion /UI: Footer */
