/*#region Page: ContactPage */
.ContactPage {
  align-items: center;
  display: flex;
  margin: auto;
  min-height: 80vh;
  width: 80%;

  .ContactPage__introduction {
    flex: 1;

    h1 {
      color: white;
      font-size: 60px;
      font-weight: 700;
    }

    p {
      color: #c1c1c1;
      font-size: 24px;
    }
  }

  .ContactPage__contact-details {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .ContactPage__contact-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1rem 0;

      .ContactPage__contact-item-title {
        color: white;
        font-size: 34px;
      }

      .ContactPage__contact-item-field {
        color: #c1c1c1;
        font-size: 24px;
      }
    }
  }

  .ContactPage__image {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;

    svg {
      height: 100%;
      animation: drop 1.5s ease;
    }
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .ContactPage {
    flex-direction: column;
  }

  .ContactPage__introduction {
    text-align: center;

    .ContactPage__introduction-text {
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    .ContactPage__contact-details {
      .ContactPage__contact-item {
        .ContactPage__contact-item-title {
          color: white;
          font-size: 28px;
        }

        .ContactPage__contact-item-field {
          color: #c1c1c1;
          font-size: 20px;
          padding-top: 1rem;
        }
      }
    }
  }

  .ContactPage__image svg {
    height: 80%;
    margin-top: 2rem;
  }
}
/*#endregion /Media Queries */
/*#endregion /Page: ContactPage */
